doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header
            h1 Noom
        main
            div(class = "wrapper")
                div#nick
                    form
                        h4 Type your name
                        input(placeholder = "What's your name?", required, type="text")
                        button(style = "") Save Name
                div#welcome
                    form
                        h4 Open Rooms:
                        ul
                        input(placeholder = "room name", required, type="text")
                        button(style = "background-color:#00ffff;") Enter Room
            div#room(hidden = true)
                form#room
                    h3
                    ul
                    button Leave Room
                form#msg
                    input(style = "", placeholder = "type message", required, type="text")
                    button(style = "") Send
        script(src = "/socket.io/socket.io.js")
        script(src = "/public/js/app.js")